html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0 8px 8px 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* Change mouse cursor to pointer over tooltips */
[title],[title] > label,[title] > textarea {
  cursor: pointer;
}

/* Title Mobile Tooltip Shim */
@media (pointer: coarse) {
  [title] {
    position: relative;
  }
  div[title]::before {
    margin-top: 3.75rem;
  }
  [title]::before {
    position: absolute;
    margin-top: 1.6125rem;
    margin-right: 0.375rem;
    content: attr(title);
    font-size: 0.8125rem;
    font-weight: 300;
    color: white;
    background-color: #333;
    border: 1px solid white;
    padding: 3px;
    z-index: 9;
    opacity: 0;
    transition: visibility 1s, opacity 1s, content 1s;
    visibility: hidden;
    overflow: hidden;
    max-width: 87vw;
    white-space: pre-wrap;
  }

  .tooltip-break-anywhere[title]::before {
    line-break: anywhere;
  }

  /* currently a special exception for better layout in setup choices */
  .offset-tip[title]::before {
    min-width: 55vw;
    left: -16vw;
  }

  [title]:hover::before {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-on-focus[title]:focus-within::before {
    visibility: visible;
    opacity: 1;
  }

  [title]:focus-within::before {
    visibility: hidden;
    opacity: 0;
  }

  .tooltip-on-focus[title]:not(:focus-within)::before {
    visibility: hidden;
    opacity: 0;
  }

  /* Append ? tooltip indicator */
  label[title]::after {
    vertical-align: super;
    font-size: smaller;
    content: "?"
  }

  label[title]::after {
    vertical-align: super;
    font-size: smaller;
    content: "?";
  }

  [title] > label::after {
    vertical-align: super;
    font-size: smaller;
    content: "?";
  }
}

.text-blur {
  color: transparent;
  text-shadow: rgba(0,0,0,0.8) 0 0 0.75rem;
}

.red-border {
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px red;
}
